AI Workflow for Customer Finding.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        240
      ],
      "id": "a17a2f95-4452-45a0-accb-01d8ad0845a4",
      "name": "When chat message received",
      "webhookId": "dc0c4fd2-1edf-48ae-9de5-0414f82fc72e"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "id": "b628b070-6aba-4a09-8315-17812e3970bf",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1jHV5G7lzeSeq0B9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "61RPP7dywgiy0JPD0",
          "mode": "list",
          "cachedResultName": "🏯 Tweet Scraper V2 - X / Twitter Scraper (apidojo/tweet-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/61RPP7dywgiy0JPD0/input"
        },
        "customBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_JSON', ``, 'json') }}",
        "timeout": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timeout', ``, 'number') }}",
        "memory": 2048,
        "build": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Build_Tag', ``, 'string') }}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apifyTool",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "cd47025c-f0a5-47ea-a45d-a9cb2565d912",
      "name": "Run an Actor and get dataset in Apify",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "rN8KKuvSmEbcFWO8",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "36996a99-5186-4067-bbcf-2acb80aa0a17",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "XO8cdkRs0lLmV0ZG",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to increase correctness and reliability of the answer. For every query run the following steps in this order and then output only the structured result described below. Do not reveal inner chain of thought.\n\n1) Restate the user request in one short sentence to confirm understanding\n2) Identify facts that could be unstable or need external verification\n3) If verification is needed perform web search and collect up to three high quality sources\n4) Run these checks\n  - arithmetic checks performed digit by digit when numbers or calculations appear\n  - cross check top sources for agreement and list any conflicts\n  - check absolute dates and timezones and convert relative dates to exact calendar dates\n  - units and conversion sanity check\n  - logic sanity check for contradictions or impossible claims\n5) Assign a confidence percent from 0 to 100 and list the main reasons if confidence is below 90\n6) Produce output in this exact structured format and nothing else\n  - Final answer a brief plain answer no more than two sentences\n  - Concise rationale one to three sentences summarizing why the answer is correct\n  - Evidence list each source on its own line with title and URL if web search used\n  - Checks performed short bullet list of the checks actually run\n  - Confidence percent\n  - Suggested verification steps what the user could do to confirm if confidence is below 90\n\nImportant rules\n- Never reveal inner chain of thought or private step by step reasoning\n- Do not invent or hallucinate sources\n- Prefer primary and authoritative sources and prefer recent sources for time sensitive topics\n- If sources disagree present the disagreement briefly and explain which side is more likely and why\n- If uncertain label the answer as an estimate and give concrete next steps for verification\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        464,
        224
      ],
      "id": "19482ce3-8628-4606-93b0-5d9c9f9a1672",
      "name": "Think1"
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        576,
        224
      ],
      "id": "da9c0e71-2aec-4658-9022-0b2c2511a4fd",
      "name": "Search Tweets in X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "eLEwOYhP0euI5YP3",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        192
      ],
      "id": "7facecfd-616d-403c-9532-2d1c82120d61",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "1jHV5G7lzeSeq0B9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Broad Client Finder\n**Finds the select group of people that matches with criteria (Vague group of people)",
        "height": 464,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -80
      ],
      "typeVersion": 1,
      "id": "1c6f6b3b-1dcd-40d7-b116-b290b0109b32",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Specific Client Finder\n**Finds a few/many people that match client descriptions",
        "height": 480,
        "width": 608,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -80
      ],
      "typeVersion": 1,
      "id": "27f8ab5d-0161-48d1-b18e-de070aee275b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Broad Client Group: {{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -192
      ],
      "id": "6a909021-7904-4ed7-a07e-81d86a72f26e",
      "name": "Response",
      "webhookId": "4d174459-d5cc-4297-a449-369d3f10ef23",
      "credentials": {
        "telegramApi": {
          "id": "GYfY6mTxmnJJcr6W",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "9c98eb0b-a3a1-4393-9b6c-14837ff6eb6f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1072,
        16
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
      "credentials": {
        "telegramApi": {
          "id": "GYfY6mTxmnJJcr6W",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "2dab6a40-2399-40c8-91a2-3647259a3320",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1eaa156-f253-4f79-be0e-fb98257e7805",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        16
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "00cad5dc-7115-45be-ad52-ed202f6c6ff2",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -784,
        -144
      ],
      "webhookId": "c0b376b1-7b63-41b6-8063-0b3096b8333d",
      "credentials": {
        "telegramApi": {
          "id": "GYfY6mTxmnJJcr6W",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "455cb30d-7e43-4b1f-b588-8df81feb8c72",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -640,
        -144
      ],
      "credentials": {
        "openAiApi": {
          "id": "9Ont0APQFFVwzTgi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "bebe1612-3eb9-4a6f-a217-1799f88504b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57e46f3a-c818-401a-a273-9777e56b379a",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "be7c7e59-ebd0-4226-a6ba-d15f80539565",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976cf2c9-01b6-46cf-97b4-675a67ca57bc",
              "name": "input",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        16
      ],
      "id": "c4926497-3479-493f-ab87-a126986ba9a1",
      "name": "Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "45da2ac3-ab00-4738-9bc8-653fa5766ac2",
      "name": "Set 'Text'1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Telegram Input\n**This is the input module for Telegram for both text and voice",
        "height": 400,
        "width": 1088,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -224
      ],
      "typeVersion": 1,
      "id": "909a0399-8e1d-4bff-80fa-81495faaa2a9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "# Overview\nYou are an AI Agent whose job is to browse and scrap data. You are an AI agent for [Business Name], tasked with finding and qualifying potential customers for our [product/service]. Search online directories, industry forums, and social media for businesses or individuals who match our ideal customer profile. For each prospect, collect company name, contact info, relevant social presence, and a short description of their needs based on publicly shared info. Rank leads by likelihood to benefit from our product or service, and provide insights into why they are a good match. Always use the think tool to make sure your responses align to the product or service that is mentioned by the business."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        16
      ],
      "id": "c75152e8-5e7c-4f4d-bb7e-9bfe16c25651",
      "name": "Client Group Finder"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "# Overview\nYou are an AI assistant who is responsible for helping find specific people on social media platforms or online that are interested with the given product/service descriptions.\n\n# Tasks\nUse Tools like X, Instagram, TikTok, or LinkedIn\n\n# Output format and description of each:\n**First Name** is the first name of the person. If it is unprovided or unclear, write N/A\n**Last Name** is the last name of the person. If it is unprovided or unclear, write N/A\n**Username** is the username of the person. If it is unprovided or unclear, write N/A\n**App Name** is the app of which the person is searched from. If it is unprovided or unclear, write N/A\n**Email** is the email of the person. If it is unprovided or unclear, write N/A\n**Phone Number** is the phone number of the person. If it is unprovided or unclear, write N/A"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        16
      ],
      "id": "7dd7384e-c0fc-459d-8026-9476dbc571c8",
      "name": "Specific Client Finder"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        640
      ],
      "id": "265f1aeb-dbbc-4a31-acf3-50cae27447b8",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "1jHV5G7lzeSeq0B9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Social Media Advertiser\n**Spreads Product/Service to Social Media",
        "height": 480,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        416
      ],
      "typeVersion": 1,
      "id": "01765585-0535-4636-890e-731df57c0e2b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Specific Client Email Sender\n**Sends emails to the selected people from the advertisement agent",
        "height": 480,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        -80
      ],
      "typeVersion": 1,
      "id": "348b4fb8-9c12-43bf-a0b5-71c3bcd6a8f6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find the email and names of each person. When sending the email, attach the names with the corresponding email. ",
        "documentId": {
          "__rl": true,
          "value": "14e0CYFGGGiRTGSVC551KsOnKrtq3xi-OmkabRYsiyxU",
          "mode": "list",
          "cachedResultName": "Contact Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14e0CYFGGGiRTGSVC551KsOnKrtq3xi-OmkabRYsiyxU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14e0CYFGGGiRTGSVC551KsOnKrtq3xi-OmkabRYsiyxU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2320,
        192
      ],
      "id": "b34764c8-a11b-4cae-86ac-ed4bc0452ccd",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHS2796DLusq7pbR",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2160,
        192
      ],
      "id": "8ef70d8b-8231-4a71-a69e-7478d400f163",
      "name": "Send a message in Gmail",
      "webhookId": "c7898fb2-68c8-4a35-99e1-208f05cae062",
      "credentials": {
        "gmailOAuth2": {
          "id": "dZwGZDcFqlFtgY6M",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Clients: {{ $json.clients[0] }}\n\n## Advertisement idea: {{ $json.advertisment[0] }}",
        "options": {
          "systemMessage": "# Overview\nYou are an AI assistant who is responsible for sending Advertisements to the target individuals emails. Use the contact information provided to Document the names and emails into the google sheets and send an email to them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2016,
        16
      ],
      "id": "48f91ad8-ba33-472d-89c5-dc963a4d9745",
      "name": "Client Email Sender"
    },
    {
      "parameters": {
        "content": "## Advertiser\n**Creates an advertisement for the specified product",
        "height": 480,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        400
      ],
      "typeVersion": 1,
      "id": "b956db31-3202-4f9c-9a98-298e8b0727a6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        800,
        496
      ],
      "id": "750be2d3-28c3-42a0-a1ee-650074e6e214",
      "name": "Social Media Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        48,
        640
      ],
      "id": "bbc08bf9-533c-4841-9628-ad492563c696",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "1jHV5G7lzeSeq0B9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "# Overview\nYou are an Advertisement idea creator agent who will be in charge of creating some catchy advertisements. Based on the input, create some catchy phrases or arguments that might get consumer's attention. Use Credibility, Logic, and Emotions when creating the advertisement."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        496
      ],
      "id": "1f95afc6-7d4c-4fed-8931-3aa570415eb6",
      "name": "Advertisement Agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "clients"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1680,
        16
      ],
      "id": "a9e059fa-0a50-404c-8752-55f04f21b98d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "advertisment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        496,
        416
      ],
      "id": "d7e64c2a-a040-48a1-a25b-e919f9e9f9fb",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Clients: {{ $json.Clients[0] }}\n\n## Advertisement idea: {{ $json.advertisment[0] }}",
        "options": {
          "systemMessage": "# Overview\nYou are an AI assistant who is responsible for sending Advertisements to the target individuals emails. Use the contact information provided to Document the names and emails into the google sheets and send an email to them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1376,
        16
      ],
      "id": "50edd3d7-1d10-4cec-9453-53f415c0bcfe",
      "name": "Client Email Sender1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Append row in sheet in Google Sheets\n# Instructions:\n**First Name** is the first name of the person. If it is unprovided or unclear, write N/A\n**Last Name** is the last name of the person. If it is unprovided or unclear, write N/A\n**Username** is the username of the person. If it is unprovided or unclear, write N/A\n**App Name** is the app of which the person is searched from. If it is unprovided or unclear, write N/A\n**Email** is the email of the person. If it is unprovided or unclear, write N/A\n**Phone Number** is the phone number of the person. If it is unprovided or unclear, write N/A",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14e0CYFGGGiRTGSVC551KsOnKrtq3xi-OmkabRYsiyxU",
          "mode": "list",
          "cachedResultName": "Contact Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14e0CYFGGGiRTGSVC551KsOnKrtq3xi-OmkabRYsiyxU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14e0CYFGGGiRTGSVC551KsOnKrtq3xi-OmkabRYsiyxU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
            "Last Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
            "Username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Username', ``, 'string') }}",
            "App Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('App_Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "App Name",
              "displayName": "App Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1536,
        256
      ],
      "id": "e2a02bb6-9d8f-46aa-b326-83cac65f7a3a",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHS2796DLusq7pbR",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Specific Client Email Storer\n**Stores Contact info in a google sheet for future use",
        "height": 480,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        -80
      ],
      "typeVersion": 1,
      "id": "6e33d9a8-b8a5-4176-bfe3-8e520228cefd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1376,
        272
      ],
      "id": "1e0ed8dd-7b96-4d77-bc00-887da0122b35",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "1jHV5G7lzeSeq0B9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2016,
        208
      ],
      "id": "48d8c1c4-cf8c-4619-ade6-507714c1508f",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "1jHV5G7lzeSeq0B9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "list",
          "cachedResultName": "Instagram Scraper (apify/instagram-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"
        },
        "customBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_JSON', ``, 'json') }}",
        "timeout": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timeout', ``, 'number') }}",
        "build": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Build_Tag', ``, 'string') }}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apifyTool",
      "typeVersion": 1,
      "position": [
        1008,
        192
      ],
      "id": "760e9e14-68ce-40a2-a538-58c096ee62b2",
      "name": "Instagram",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "rN8KKuvSmEbcFWO8",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ],
      "id": "a1b32617-f526-4c72-b07b-7026f6dafaff",
      "name": "X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "eLEwOYhP0euI5YP3",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        1136,
        640
      ],
      "id": "e9b35933-d4c9-41a1-b33e-7c4b59e9c9b6",
      "name": "X1",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "eLEwOYhP0euI5YP3",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "GdWCkxBtKWOsKjdch",
          "mode": "list",
          "cachedResultName": "TikTok Scraper (clockworks/tiktok-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/GdWCkxBtKWOsKjdch/input"
        },
        "customBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_JSON', ``, 'json') }}",
        "timeout": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timeout', ``, 'number') }}",
        "build": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Build_Tag', ``, 'string') }}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apifyTool",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "id": "9490f983-0b03-4aba-8caf-97e0a4cb8bda",
      "name": "TikTok",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "rN8KKuvSmEbcFWO8",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "person": "=987224352",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        1024,
        640
      ],
      "id": "02b07ddd-0c0b-421e-b48f-b5df5f0c8f09",
      "name": "Create a post in LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "MmhPOv5i0JpUyg5L",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        16
      ],
      "id": "1f4febee-a545-4ca3-bd90-8920d052c840",
      "name": "Response1",
      "webhookId": "4d174459-d5cc-4297-a449-369d3f10ef23",
      "credentials": {
        "telegramApi": {
          "id": "GYfY6mTxmnJJcr6W",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "client"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        80
      ],
      "id": "f0a9dfa7-40e2-4c8e-add7-3ce349be15d1",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "advertise"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        496
      ],
      "id": "a16c9372-7082-47a1-98e3-3f6792906fe9",
      "name": "Aggregate3"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set 'Text'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Client Group Finder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset in Apify": {
      "ai_tool": [
        [
          {
            "node": "Client Group Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Client Group Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Client Group Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Tweets in X": {
      "ai_tool": [
        [
          {
            "node": "Client Group Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Specific Client Finder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Client Group Finder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Advertisement Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'1": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Group Finder": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Specific Client Finder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Specific Client Finder": {
      "main": [
        [
          {
            "node": "Client Email Sender1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Client Email Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Client Email Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Client Email Sender": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Advertisement Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Advertisement Agent": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Client Email Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Client Email Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Email Sender1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Client Email Sender1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Client Email Sender1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Client Email Sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "ai_tool": [
        [
          {
            "node": "Specific Client Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X": {
      "ai_tool": [
        [
          {
            "node": "Specific Client Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X1": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TikTok": {
      "ai_tool": [
        [
          {
            "node": "Specific Client Finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a post in LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Social Media Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Social Media Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "update_id": 112107347,
        "message": {
          "message_id": 5,
          "from": {
            "id": 8408548755,
            "is_bot": false,
            "first_name": "Isaac",
            "last_name": "Yen",
            "language_code": "en"
          },
          "chat": {
            "id": 8408548755,
            "first_name": "Isaac",
            "last_name": "Yen",
            "type": "private"
          },
          "date": 1759704889,
          "text": "steeltape dispenser"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a36221760d78367aae8b83420c8a00ced004307dbcfe01935fd6ebb49158ec61"
  }
}